<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SCHEDSIM</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="container">
        <div class="content">
            <h1>SCHEDSIM</h1>
            <div class="button-container">
                <div class="button-row">
                    <button id="executeBtn">Start</button>
                    <button id="newTaskBtn">New Task</button>
                    <button id="addTimeBtn">Add Time</button>
                    <button id="printGraphBtn">Print Graph</button>
                    <label for="xmlFile" class="file_upload">Select and Upload XML File</label>
                    <button id="createXMLBtn">Create XML</button>
                    <button id="downloadCsvBtn">Download CSV</button>
                    <button id="downloadXmlBtn">Download XML</button>
                </div>
            </div>

            <form id="newTaskForm" class="hidden">
                <div class="form-group">
                    <label for="realTime">Real Time (true/false)</label>
                    <select id="realTime" name="realTime" required>
                        <option value="true">True</option>
                        <option value="false">False</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="taskType">Task Type (sporadic/periodic)</label>
                    <select id="taskType" name="taskType">
                        <option value="periodic">Periodic</option>
                        <option value="sporadic">Sporadic</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="taskId">Task ID</label>
                    <input type="number" id="taskId" name="taskId" min="1" step="1" required>
                </div>
                <div class="hidden" id="periodGroup">
                    <div class="form-group ">
                        <label for="period">Period</label>
                        <input type="number" id="period" name="period">
                    </div>
                </div>
                <div class="hidden" id="activationGroup">
                    <div class="form-group" id="activationGroup">
                        <label for="activation">Activation</label>
                        <input type="number" id="activation" name="activation">
                    </div>
                </div>
                <div class="form-group">
                    <label for="deadline">Deadline</label>
                    <input type="number" id="deadline" name="deadline" required>
                </div>

                <div class="form-group">
                    <label for="wcet">WCET</label>
                    <input type="number" id="wcet" name="wcet" required>
                </div>

                <button type="submit">Create Task</button>
            </form>




            <form id="createXML" class="hidden">
                <div class="form-group">
                    <label for="start">Start</label>
                    <input type="number" id="start" name="start" required>
                </div>

                <div class="form-group">
                    <label for="end">End</label>
                    <input type="number" id="end" name="end" required>
                </div>

                <div class="form-group">
                    <label for="schedulingAlgorithm">Scheduling Algorithm</label>
                    <select id="schedulingAlgorithm" name="schedulingAlgorithm" required>
                        <option value="FIFO">FIFO</option>
                        <option value="SRTF">SRTF</option>
                        <option value="SJF">SJF</option>
                        <option value="RR">RR</option>
                        <option value="HRRN">HRRN</option>
                        <option value="RM">RM</option>
                    </select>
                </div>
                <div class="hidden" id="quantumGroup">
                    <div class="form-group" id="quantumGroup">
                        <label for="quantum">Quantum</label>
                        <input type="number" id="quantum" name="quantum">
                    </div>
                </div>
                <div class="hidden" id="serverGroup">
                    <div id="serverGroup">
                        <div class="form-group">
                            <label for="server">Server</label>
                            <select id="serverAlgorithm" name="serverAlgorithm" required>
                                <option value="polling">Polling</option>
                                <option value="deferrable">Deferrable</option>
                                <option value="priority_exchange">PriorityExchange</option>
                                <option value="sporadic">Sporadic</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="capacity">Server Capacity</label>
                            <input type="number" id="serverCapacity" name="serverCapacity">
                        </div>
                        <div class="form-group">
                            <label for="period">Server Period</label>
                            <input type="number" id="serverPeriod" name="serverPeriod">
                        </div>
                    </div>
                </div>


                <button id="addTaskBtn">Add New Task</button>
                <div id="dynamicTaskForm"></div>
                <button id="submitAllTasksBtn">Submit All Tasks</button>

            </form>

            <form id="addTimeForm" class="hidden">
                <div class="form-group">
                    <label for="newTime">Enter New Time:</label>
                    <input type="number" id="newTime" name="newTime" required>
                </div>
                <button type="submit">Submit</button>
            </form>

            <div class="execution_block">
                <form id="xmlForm" enctype="multipart/form-data">
                    <input type="file" name="xmlFile" id="xmlFile" accept=".xml">
                </form>

                <div class="graph-execution" class="hidden">
                    <img src="{{ url_for('static', filename='out.png') }}" alt="Graph Image" class="large-image">
                </div>


                <form id="printGraphForm" class='hidden'>
                    <div class="form-group">
                        <label for="startTime">Start Time:</label>
                        <input type="number" id="start_time" name="start_Time">
                    </div>
                    <div class="form-group">
                        <label for="endTime">End Time:</label>
                        <input type="number" id="end_time" name="end_Time">
                    </div>
                    <div class="form-group">
                        <label for="fracTime">Fraction of Time:</label>
                        <input type="number" id="frac_time" name="frac_Time">
                    </div>
                    <button type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <script src="{{ url_for('static', filename='dynamic_form.js') }}"></script>

</body>

</html>