/* General body style */
body {
    background: linear-gradient(to bottom, #f5f5f5, #e0e0e0);
    font-family: 'Arial', sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Main container */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    padding: 10px;
}

/* Content */
.content {
    width: 100%;
    max-width: 1800px;
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

/* Header */
h1 {
    font-size: 3.5rem;
    margin-bottom: 30px;
    font-weight: bold;
    text-align: center;
    margin-top: 50px;
}

/* Buttons */
.button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    margin-bottom: 30px;
}

.button-container button, .button-container label {
    flex-grow: 1;
    padding: 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.button-container button:hover, .button-container label:hover {
    background-color: #45a049;
    transform: scale(1.01);
}

.button-container button:active, .button-container label:active {
    transform: scale(0.95);
}

/* File input */
input[type="file"] {
    display: none;
}

.file_upload {
    border: 2px solid #4CAF50;
    padding: 12px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    background-color: #4CAF50;
    color: white;
    transition: background-color 0.3s, transform 0.3s;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.file_upload:hover {
    background-color: #45a049;
    transform: scale(1.01);
}

.file_upload:active {
    transform: scale(0.95);
}

/* Graph and form container */
.execution_block {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.graph-execution {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}

.graph-execution img {
    max-width: 100%;
    border-radius: 6px;
}

.large-image {
    width: 110%;
    height: auto;
    max-width: 800px;
}

.hidden {
    display: none;
}

/* Style for "newTaskForm", "createXML", "addTimeForm", "printGraphForm", "downloadXmlBtn", "styled-form" */
#newTaskForm,
#createXML,
#addTimeForm,
#printGraphForm,
.styled-form {
    width: 100%;
    max-width: 1000px;
    background-color: #f9f9f9;
    padding: 18px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    margin: 30px auto;
}

#newTaskForm .form-group,
#createXML .form-group,
#addTimeForm .form-group,
#printGraphForm .form-group,
.styled-form .form-group {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

#newTaskForm label,
#createXML label,
#addTimeForm label,
#printGraphForm label,
.styled-form label {
    color: #333;
    flex: 1;
    min-width: 80px;
}

#newTaskForm input[type="number"],
#newTaskForm select,
#createXML input[type="number"],
#createXML input[type="text"],
#createXML select,
#createXML textarea,
#addTimeForm input[type="number"],
#printGraphForm input[type="number"],
.styled-form input[type="number"],
.styled-form select {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    transition: border-color 0.3s;
    flex: 2;
}

#newTaskForm button,
#createXML button,
#addTimeForm button,
#printGraphForm button,
.styled-form button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 3px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

#newTaskForm button:hover,
#createXML button:hover,
#addTimeForm button:hover,
#printGraphForm button:hover,
.styled-form button:hover {
    background-color: #45a049;
    transform: scale(1.01);
}

#newTaskForm button:active,
#createXML button:active,
#addTimeForm button:active,
#printGraphForm button:active,
.styled-form button:active {
    transform: scale(0.95);
}

.styled-form h3 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px 0;
}
